div {
    width: 1000px;
    background-image: URL("http://www.osmais.com/wallpapers/201308/minions-balada-wallpaper-1280x720.jpg");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 24px 24px 24px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(247, 190, 6, 0.863);
    
}

h1 {
    background-color: rgba(247, 190, 6, 0.863);
}

h2 {
    background-color: rgba(247, 190, 6, 0.863);
}
