@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    background-color:whitesmoke;
    background-image:url("https://thumbs.dreamstime.com/z/gray-white-background-abstract-shades-wallpapers-web-sites-149119051.jpg");
}


h1 {
    color:black;
    font-family: 'Roboto', sans-serif;
    

}

.media-picture {
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image:url("https://s2.glbimg.com/VwySJf5xgtq1qqIVXLs2fm4vcUE=/0x0:695x339/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2021/2/5/GsMKx6SBO780SZXHK1rQ/2015-07-01-inside-out.png  ")
}
    
.review-score {
    color:white;
    background-color:rgb(8, 228, 56);
    font-family: 'Roboto', sans-serif;
    padding:12px;

}

h2 {
    color:white;
    background-color:black;

}

p {
    color:black;
    font-family: 'Roboto', sans-serif;
}

a {
    color:purple;
}

