*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
/* 
body{

    padding: 20px;
} */

ul{
    background-color: black;
    list-style: none;
    display: flex;
    gap: 24px;
    padding: 32px;
    justify-content: center; /* Horizontal */
   align-items: baseline; /*  vertical */
}

ul a {
    color: white;
    text-decoration: none;
}
.video{
    width: 400px;
}
.video img{

    width: 100%;
    height:200px ;
    object-fit: cover;
}
.videos{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}